Parsing misclassification if the password begins with ? or / or #

These URLs cause a misclassification:

- `http://test:?test@example.com`
    - ` test:` -> URL network location
    - `test@example.com` -> URL query
- `http://test:/test@example.com`
    - `test:` -> URL network location
    - `/test@example.com` -> URL path
- `http://test:#test@example.com`
    - `test:` -> URL network location
    - `test@example.com` -> URL fragment

The misclassification appears if the password begins with a delimiter defined in [RFC3986, section 3.2](http://tools.ietf.org/html/rfc3986#section-3.2):

```
The authority component is preceded by a double slash ("//") and is
terminated by the next slash ("/"), question mark ("?"), or number
sign ("#") character, or by the end of the URI.
```

Unfurl uses urllib.parse for this functionality, and it appears this bug is known / being fixed (https://bugs.python.org/issue37854), although the time frame is unclear to me. 

Checked urllib's bug again, still no progress.

Checked urllib's bug again, still no progress.